{% extends 'base3.html' %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container" style="max-width: 600px; margin: 100px auto; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
    <h1 style="text-align: center; margin-bottom: 20px;">Edit Profile</h1>
    <form method="post" style="margin-top: 20px;">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="{{ form.gender.id_for_label }}">Gender:</label>
            {{ form.gender }}
        </div>
        <div class="form-group">
            <label for="{{ form.contact_no.id_for_label }}">Contact Number:</label>
            {{ form.contact_no }}
        </div>
        <div class="form-group">
            <label for="{{ form.blood_group.id_for_label }}">Blood Group:</label>
            {{ form.blood_group }}
        </div>
        <div class="form-group">
            <label for="{{ form.weight_kg.id_for_label }}">Weight (kg):</label>
            {{ form.weight_kg }}
        </div>
        <div class="form-group">
            <label for="{{ form.height_cm.id_for_label }}">Height (cm):</label>
            {{ form.height_cm }}
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" style="display: inline-block; background-color: rgb(0, 98, 83); color: #fff; padding: 10px 20px; border: none; border-radius: 25px; text-decoration: none; transition: background-color 0.3s ease;">Save Changes</button>
        </div>
    </form>
</div>

{% endblock %}
