{% extends 'base2.html' %}
{% load static %}


<div class="container bg-light" style="background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/3627412/images/Untitled-4656-min.png);
background-size: cover;
background-position: center;
height: 100vh;">
{% block content %}

    <div class="container text-center"
        style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/cdb080b4044155eba390e3cf/xqaS.jpg);
        background-size: cover;
        background-position: center bottom;
        margin-top: 100px;">
        <h1>Food Calorie Calculator</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="foodItems" class="form-label">Enter food items (comma-separated):</label>
                <input type="text" id="foodItems" name="query" class="form-control mx-auto" style="width: 50%; ">
            </div>
            <button type="submit" class="btn btn-primary">Calculate Calories</button>
        </form>
    
    {% if total_calories is not None %}
    <h2 class="mt-4">Total Calories:</h2>
    <p>{{ total_calories }}</p>
    {% endif %}
    </div>
{% endblock %}  </div>  
</html>
